
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post">
    <input type="number" name="Id" placeholder="Student Id" class="form-control" />
    <input type="submit" class="btn btn-primary" value="Submit" />
</form>
