
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="text" name="Name" value="@Model.Name" class="form-control" placeholder="Name" />
    <input type="submit" value="Update" class="btn btn-success" />
</form>
