
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a class="btn btn-info" href="/student/create">Create</a>
@if (TempData["Msg"] != null) { 
    <span class="alert alert-info">@TempData["Msg"]</span>
}
@if (Model.Count == 0) { 
    <h3>No Data</h3>
}
else { 
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Cgpa</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Cgpa</td>
            </tr>
        }
    </table>
}